.image {
  position: absolute;
  width: 690px;
  height: 400px;
  left: 9.4%;
  right: 2.86%;
  top: 14.84%;
  bottom: 20.12%;

  background: linear-gradient(
    93.58deg,
    #23382b -156.79%,
    #537e63 -139.31%,
    #23382b -124.82%,
    #537e63 -109.83%,
    #23382b -93.34%,
    #537e63 -75.86%,
    #23382b -59.87%,
    #537e63 -42.89%,
    #23382b -24.4%,
    #537e63 -6.42%,
    #23382b 3.05%,
    #537e63 16.82%,
    #23382b 31%,
    #537e63 49.65%,
    #23382b 64.57%,
    #537e63 83.96%,
    #23382b 100.87%
  );
}
